# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# --- Selenium / Browser drivers ---
chromedriver*
geckodriver*

# Excel e arquivos gerados
*.xlsx
*.xls
*.csv

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
